<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SonmOsImageUrl" value="http://localhost:3000/sonmos.zip"/>
    <add key="BlockChainUrl" value="https://sidechain-dev.sonm.com"/>
    <add key="RegisterAdminScAddr" value="0xa92e202a1513024c76d3bba9186aea1a11fe9121"/>
  </appSettings>
</configuration>
