<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SonmReleaseMetadataUrl" value="https://sonmos.ams3.cdn.digitaloceanspaces.com/beta.json" />
    <add key="BlockChainUrl" value="https://sidechain-testnet.sonm.com" />
    <add key="RegisterAdminScAddr" value="0xa92e202a1513024c76d3bba9186aea1a11fe9121" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>